<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La Librería</title>
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
      
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo">La Librería</div>
                <nav>
                    <ul>
                        <li><a href="#">Libros</a></li>
                    </ul>
                </nav>
                <div class="search-cart">
                    <input type="text" placeholder="Buscar">
                    <div class="cart-icon">🛒</div>
                </div>
            </div>
        </header>
        <main>
            <div class="main-image">
                <img src="books.jpg" alt="Stack of books">
            </div>
            <div class="info-sections">
                <div class="section">
                    <h3>Acerca de</h3>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Reglamento</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                    </ul>
                </div>
                <div class="section">
                    <h3>Contáctenos</h3>
                    <p>WhatsApp: (506) 8428-0283</p>
                </div>
                <div class="section">
                    <h3>Redes Sociales</h3>
                    <ul>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <div class="footer-logo">La Librería</div>
                <div class="footer-rights">Todos los derechos reservados</div>
            </div>
        </footer>
    </body>
</html>
