<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Categorias</title>
</head>
<body>
        <header th:replace="~{layout/plantilla :: header}"></header>
                <div class="card mx-auto" style="max-width: 600px;">
                    <div class="card-header bg-primary text-white">
                        <h3 th:text="${reservas.id != null ? 'Editar Reserva Estándar' : 'Nueva Reserva'}"></h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/reservas/guardar}" method="post" th:object="${reservas}">
                            <input type="hidden" name="id" th:field="*{id}">
                            
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="cedula" class="form-label">Cédula</label>
                                <input type="number" class="form-control" id="cedula" name="cedula" th:field="*{cedula}" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="number" class="form-control" id="telefono" name="telefono" th:field="*{telefono}" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="correo" name="correo" th:field="*{correo}" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="tipoHabitacion" class="form-label">Tipo de Genero</label>
                                <select class="form-select" id="tipoGenero" name="tipoGenero" th:field="*{tipoGenero}" required>
                                    <option value="">Seleccione un tipo de habitación</option>
                                    <option value="Ficcion"> Ficcion</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Fantasia"> Fantasia</option>
                                </select>
                            </div>
                            
                            <div sec:authorize="hasRole('ROLE_ADMIN')" class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="activo" name="activo" th:field="*{activo}">
                                <label class="form-check-label" for="activo">Activo</label>
                            </div>
                            
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-secondary me-md-2" th:href="@{/reservas/listado}">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
        
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
    
</body>
</html>