<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Inicio de Sesión</title>
</head>
<body>
    <header th:replace="{layout/plantilla :: header}"></header>

    <div class="h2">
        <h2>Inicia Sesión</h2>
    </div>

    <div class="Login"> 
        <div class="form">
            <div class="title">Ingresa tu cuenta</div>

            <form th:action="@{/inicio_Sesion}" method="post">
                <div class="input-container ic1">
                    <input id="username" name="username" class="input" type="text" placeholder="Usuario" required/>
                </div>
                <div class="input-container ic2">
                    <input id="password" name="password" class="input" type="password" placeholder="Contraseña" required/>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <a class="btn btn-success" th:href="@{/usuario/nuevo}">Crear Usuario</a>
                    <a class="btn btn-danger" th:href="@{/index}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>  

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>
